<div class="rounded">
    <!-- Header Hero -->
    <div class="rounded bg-black dark:bg-black d-flex justify-content-center justify-items-center align-items-center w-full p-4 my-2">
        <div class="d-flex flex-column">
            <div class="h2">AI</div>
            <div class="h6">Artificial Intelligence Baby</div>
        </div>
    </div>
    <!-- Header Hero End -->
    <!-- ChatGPT -->
    <div class="rounded flex-column bg-black dark:bg-black d-flex justify-content-between justify-items-center align-items-center w-full p-4 my-2">
        <div class="h4">ChatGPT Details</div>
        <div class="d-flex justify-content-between w-full mt-1">
            <div class="h4">Enter your key here:</div>
            <input class="form-control" placeholder="API Key" type="text" value="">
            <button type="button" class="btn btn-outline-primary ml-2" id="save-chatgpt-key">Save</button>
        </div>
        <div class="d-flex justify-content-between w-full mt-2">
            <div class="h4">Select Channel</div>
            <button type="button" class="btn btn-outline-primary mr-2" id="fetch-channels">Fetch Channels</button>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" disabled>
                    Channels
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Channel 1</a></li>
                    <li><a class="dropdown-item" href="#">Channel 2</a></li>
                    <li><a class="dropdown-item" href="#">Channel 3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ChatGPT -->
    <div class="rounded flex-column bg-black dark:bg-black d-flex justify-content-between justify-items-center align-items-center w-full p-4 my-2">
        <div class="h4">Gemini Details</div>
        <div class="d-flex justify-content-between w-full mt-1">
            <div class="h4">Enter your key here:</div>
            <input class="form-control" placeholder="API Key" type="text" value="">
            <button type="button" class="btn btn-outline-primary ml-2" id="save-chatgpt-key">Save</button>
        </div>
        <div class="d-flex justify-content-between w-full mt-2">
            <div class="h4">Select Channel</div>
            <button type="button" class="btn btn-outline-primary mr-2" id="fetch-channels">Fetch Channels</button>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" disabled>
                    Channels
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Channel 1</a></li>
                    <li><a class="dropdown-item" href="#">Channel 2</a></li>
                    <li><a class="dropdown-item" href="#">Channel 3</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>