<div class="rounded">
    <!-- Header Hero -->
    <div class="rounded bg-black dark:bg-black d-flex justify-content-center justify-items-center align-items-center w-full p-4 my-2">
        <div class="d-flex flex-column">
            <div class="h2">Database</div>
            <div class="h6">Store data or get lost</div>
        </div>
    </div>
    <!-- Header Hero End -->
    <!-- MongoDB -->
    <div class="rounded flex-column bg-black dark:bg-black d-flex justify-content-between justify-items-center align-items-center w-full p-4 my-2">
        <div class="h4">MongoDB URI</div>
        <div class="d-flex justify-content-between w-full mt-1">
            <div class="h4">Enter your URI here:</div>
            <input class="form-control" placeholder="MongoDB URI" type="text" value="">
            <button type="button" class="btn btn-outline-primary ml-2" id="save-chatgpt-key">Save</button>
        </div>
    </div>
</div>