<div class="rounded">
    <!-- Header Hero -->
    <div class="rounded bg-black dark:bg-black d-flex justify-content-center justify-items-center align-items-center w-full p-4 my-2">
        <div class="d-flex flex-column">
            <div class="h2">All-In-One Python Discord BOT</div>
            <div class="h6">Made by <a href="https://avishakeadhikary.github.io/">Avishake Adhikary</a></div>
        </div>
    </div>
    <!-- Header Hero End -->
    <div class="rounded bg-black dark:bg-black d-flex justify-content-center justify-items-center align-items-center w-full p-4 my-2">
        <img src="static/AIOPythonDiscordBOT.png" class="img-fluid" alt="aiobothero">
    </div>
</div>