<div class="rounded">
    <!-- Header Hero -->
    <div class="rounded bg-black dark:bg-black d-flex justify-content-center justify-items-center align-items-center w-full p-4 my-2">
        <div class="d-flex flex-column">
            <div class="h2">Welcomer</div>
            <div class="h6">Give your new members a warm welcome!</div>
        </div>
    </div>
    <!-- Header Hero End -->
    <!-- Message on Join -->
    <div class="rounded bg-black dark:bg-black d-flex justify-content-between justify-items-center align-items-center w-full p-4 my-2">
        <div class="d-flex flex-column align-items-start">
            <div class="h4">Message on Join</div>
            <div class="h6">Automatically send a message to a channel once a user joins the server.</div>
        </div>
        <div class="d-flex">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Enabled</label>
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            </div>
        </div>
    </div>
    <!-- Active Channel List -->
    <div class="rounded bg-black dark:bg-black d-flex justify-content-between justify-items-center align-items-center w-full p-4 my-2">
        <div class="d-flex flex-column align-items-start">
            <div class="h4">Select Channel</div>
        </div>
        <div class="d-flex">
            <button type="button" class="btn btn-outline-primary mr-2" id="fetch-channels">Fetch Channels</button>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" disabled>
                    Channels
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Channel 1</a></li>
                    <li><a class="dropdown-item" href="#">Channel 2</a></li>
                    <li><a class="dropdown-item" href="#">Channel 3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- DM on join -->
    <div class="rounded bg-black dark:bg-black d-flex justify-content-between justify-items-center align-items-center w-full p-4 my-2">
        <div class="d-flex flex-column align-items-start">
            <div class="h4">Direct Message on Join</div>
            <div class="h6">Automatically send a direct message to a channel once a user joins the server.</div>
        </div>
        <div class="d-flex">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Enabled</label>
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            </div>
        </div>
    </div>
    <!-- Message on Leave -->
    <div class="rounded bg-black dark:bg-black d-flex justify-content-between justify-items-center align-items-center w-full p-4 my-2">
        <div class="d-flex flex-column align-items-start">
            <div class="h4">Message on Leave</div>
            <div class="h6">Automatically send a message to a channel once a user leaves the server.</div>
        </div>
        <div class="d-flex">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Enabled</label>
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            </div>
        </div>
    </div>
    <!-- Message on Kick -->
    <div class="rounded bg-black dark:bg-black d-flex justify-content-between justify-items-center align-items-center w-full p-4 my-2">
        <div class="d-flex flex-column align-items-start">
            <div class="h4">Message on Kick</div>
            <div class="h6">Automatically send a message to a channel once a user gets kicked.</div>
        </div>
        <div class="d-flex">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Enabled</label>
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            </div>
        </div>
    </div>
    <!-- Message on Ban -->
    <div class="rounded bg-black dark:bg-black d-flex justify-content-between justify-items-center align-items-center w-full p-4 my-2">
        <div class="d-flex flex-column align-items-start">
            <div class="h4">Message on Ban</div>
            <div class="h6">Automatically send a message to a channel once a user gets banned.</div>
        </div>
        <div class="d-flex">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Enabled</label>
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            </div>
        </div>
    </div>
</div>